<header class="<%= theme %>">
  <div class="main-bar">
    <div class="logo-container">
      <img src="/static/images/navbar/logo.png" alt="Permafrost">
    </div>
    <div class="nav-container">
      <a class="btn dark primary <%= page == 'Home'?'active':'' %>">Home</a>
      <% if(user) { %>
        <% if(user.permission >= 1) { %>
          <a class="btn dark primary <%= page == 'Panel'?'active':'' %>">Panel</a>
        <% } %>
      <% } %>
      <a href="/login" class="btn dark dark-outline <%= page == 'Entrance'?'active':'' %>">Log In</a>
    </div>
  </div>
  <div class="sub-bar">
    <div class="breadcrumb">
      <span><%= path %> <span class="page"><%= page %></span></span>
    </div>
    <div class="user-info">
      <% if(user) { %>
        <div>
          <img class="user" src="/static/images/navbar/user-icon.png" alt="User Icon">
          Welcome, <%= user.name %>!
          <a id="disconnect">
            <span>Disconnect</span>
            <img class="log-out" src="/static/images/navbar/log-out-icon.png" alt="Disconnect Icon">
          </a>
        </div>
      <% } else { %>
        <div>
          <img class="user" src="/static/images/navbar/user-icon.png" alt="User Icon">
          Disconnected.
        </div>
      <% } %>
    </div>
  </div>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    let disconnectButton = document.querySelector('#disconnect')
    if(disconnectButton) {
      disconnectButton.addEventListener('click', e => {
        e.preventDefault()
        axios({
          url: '/api/auth/logout',
          method: 'post',
          data: {},
          withCredentials: true
        })
        .then(res => {
          if(res.data.type == 'successfulRequest') {
            document.location.reload(true);
          }else {
            alert('Error.')
            window.location('http:localhost:3000/entrance')
          }
        })
      })
    }
  </script>
</header>